docs/classictic/Classictic XSD.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 9.0.8.3018 (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="events">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="event" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="link" type="xs:string" />
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="description" type="xs:string" />
                            <xs:element name="picture_big" type="xs:string" />
                            <xs:element name="dates">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="date" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="venue" type="xs:string" />
                                                    <xs:element name="venue_id" type="xs:unsignedByte" />
                                                    <xs:element name="hall" type="xs:string" />
                                                    <xs:element name="hall_id" type="xs:unsignedByte" />
                                                    <xs:element name="venue_street" type="xs:string" />
                                                    <xs:element name="venue_zip" type="xs:string" />
                                                    <xs:element name="city" type="xs:string" />
                                                    <xs:element name="country" type="xs:string" />
                                                    <xs:element name="date" type="xs:date" />
                                                    <xs:element name="time" type="xs:time" />
                                                    <xs:element name="program">
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs="0">
                                                                <xs:element name="item" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="composer" type="xs:string" />
                                                                            <xs:element name="work" type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="categories">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="category" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="cat_name" type="xs:string" />
                                                                            <xs:element name="price" type="xs:decimal" />
                                                                            <xs:element name="currency" type="xs:string" />
                                                                            <xs:element name="link" type="xs:string" />
                                                                        </xs:sequence>
                                                                        <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedShort" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
